@media only screen and (max-width: 992px) {
    #bubbles-container {
        display:none
    }
    #coderBunkerSentence {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
        margin-right: auto !important;
        margin-left: auto !important;
          text-align: center !important;
    }
    .propose-container {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    }
    .proposal-title {
        font-size:1.4rem;
    }
    .people-content img {
        width:70% !important;
    }
    .fa-facebook-f, .fa-linkedin, .fa-weixin, .fa-medium {
        font-size: 2.3vw !important;
    }
    #join-us-button {
        margin-right: auto !important;
        margin-left: auto !important;
        text-align: center !important;

    }
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #434769;
    margin: 1em 0;
    padding: 0; 
}
h1 {
    font-size:3rem;
}
h4 {
    font-size:1.2rem;
}
/* Header */
.navbar-brand {
    color:white;
    font-family: montserrat, sans-serif;  
    font-weight: 600;    
    font-style: normal;
    letter-spacing: 1px;
    
    
}
.navbar-brand:hover {
    color:white;

}
.nav-item a {
    color:white !important;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.social-network-icons li {
    padding-left:1rem;
}

header {
    color:white;
}
#header-content {
    margin-top:9rem;
}
#header-container {
    background-color:#003557 !important;
    color:white;
    border-bottom-left-radius: 80% 10%;
    border-bottom-right-radius: 80% 10%;
    background-image:url('../images/bg.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:bottom;
    min-height: 60rem;
  }
}
#coderBunkerSentence {
    background-color:#003557 !important;
}
#coderBunkerSentence h1 {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style:normal;
    margin-bottom:2rem;
    line-height:4rem;
}
#coderBunkerSentence p {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style:normal;
    margin-bottom:2rem;

}
#coderBunkerSentence button {
    background-color:#e74c3c;
    border:none;
    padding-top:.5rem;
    padding-bottom:.5rem;
    padding-left:2rem;
    padding-right:2rem;
    color:white !important;
    font-family: montserrat, sans-serif !important;
    font-weight: 600;
    border-radius: 7px;
}
#join-us-button:link {
    text-decoration: none;
}
.proposal-title {
    font-family: montserrat, sans-serif;
    font-weight: 700;

}
p.proposal-text{
    margin-top:0.5rem;
    font-family: lato, sans-serif;
    font-weight:400;
    font-style:normal;
}
.section-title h4{
    margin-top:10rem;
    margin-bottom:5rem;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    text-align: center;
}
.section-title h2{
    margin-top:10rem;
    margin-bottom:5rem;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    text-align: center;
}
#coderBunkerSentence {
    padding-bottom:15rem;
}
.learn-more-left {

}
.role-message h4{
    font-family: montserrat, sans-serif;
    font-weight: 800;
    font-style: normal;
}
.role-message h3{
    font-family: montserrat, sans-serif;
    font-weight: 800;
    font-style: normal;
    padding-bottom:0.7rem;
}
.role-message span {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.role-message h4 span.underline {
    font-family: montserrat, sans-serif;
    font-weight: 800;
    font-style: normal;
    border-bottom: 2px solid #003557;
    padding-bottom:3px;
}
.role-message h3 span.underline {
    font-family: montserrat, sans-serif;
    font-weight: 800;
    font-style: normal;
    border-bottom: 2px solid #003557;
    padding-bottom:3px;
}
.role-text {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;

}
.read-more-button {
    background-color: white;
    border-radius: 2rem;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-size:14px;
    padding:0.5rem;
    padding-left:0.8rem;
    padding-right:0.8rem;
    border-width: thin;
    border-color:black;
    font-style: normal;
    cursor:pointer;
}
.role-image img {
    width:100%;
    border:none;
}
.role-message p {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style:normal;
    
}
.role-container{
    margin-bottom:12rem;
}
#footer-container {
    margin-top:15rem;
}
#footer-social-icons {
    color: #b5b5c8 !important;
    font-size:1.5vw;
}
#footer-social-icons nav ul li a{
    color: #b5b5c8 !important;
    font-size:1.5vw;
}   
#logo-footer {
    color:#e74c3c;
    font-family: montserrat, sans-serif;
    font-weight: 800;
    font-style:normal;
    font-size:1.5vw;
}
#copyright {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-size:1vw;
    font-style:normal;
    color: #565b87;
    margin-top:2rem;
    margin-right:1rem;
}
#copyright img {
    margin-top:2rem;
    margin-right:1rem;
    width:3%;
    margin-bottom:2rem;
}
#footer-franchise-container {
    color:#b5b5c8;
    font-family: montserrat, sans-serif;  
    font-weight: 700;    
    font-style: normal;
}
#footer-franchise-container ul li div h5 {
    font-family: montserrat, sans-serif;  
    font-weight: 700;    
    font-style: normal;

}
.franchise-city {
    font-family: montserrat, sans-serif;  
    font-weight: 700;    
    font-style: normal;
    color: #b5b5c8;
}
.franchise-text {
    font-family: montserrat, sans-serif;  
    font-weight: 300;    
    font-style: normal;
    color: #b5b5c8;
}
.people-content img {
    width:40%;
}
.people-name {
    margin-top:0.5rem;
    margin-bottom:2rem;
    font-family: montserrat, sans-serif;  
    font-weight: 300;    
    font-style: normal;

}
.people-quote {
    text-align:center;
    font-family: montserrat, sans-serif;  
    font-weight: 600;    
    font-style: italic;
    letter-spacing: 1px;
    
}
/* Icons */
.fa-handshake, .fa-money-check-alt, .fa-smile-wink {
    color:#e74c3c;
    font-size: 4vw;
}
.fa-facebook-f, .fa-linkedin, .fa-weixin, .fa-medium {
    font-size: 1.6vw;
}
/* Styles needed for menu effect */
li {

  display: table-cell; 
  position: relative; 
}
#sectionNav .nav-item a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  text-shadow: 0 0 .65px #FFF, 0 0 .65px #FFF;
 
}
#sectionNav .nav-item a:hover:after { 
  width: 100%; 
  left: 0;
  text-shadow: 0 0 .65px #FFF, 0 0 .65px #FFF;
}
.social-network-icons {
    text-shadow:0 !important;
}
#go-to-top {
    cursor: pointer;
}
/* bubbles*/
/* general */
#bubbles-container {
    position:relative;
}
.bubble {
    position:absolute;
    font-family: montserrat, sans-serif;  
    font-weight: 600;    
    font-style: normal;
    text-transform:uppercase;
    cursor: pointer; 
}
/* entrepreneur bubble */
#entrepreneur-bubble {
    width: 9rem;
    height: 9rem;
    color: #003557;
    background-color:#fcec64;
    top:-6%;
    left:5%;

}
#entrepreneur-bubble span {
    position:absolute;
    top:41%;
    left:3%;
}
/* freelancer bubble */
#freelancer-bubble {
    width: 7rem;
    height: 7rem;
    color: #003557;
    background-color:#fff;
    right:0%;
    top:-8%;

}
#freelancer-bubble span {
    position:absolute;
    top:41%;
    left:10%;
    font-size:0.9vw;
}
/* community bubble */
#community-bubble {
    width: 8rem;
    height: 8rem;
    color: #FFF;
    background-color:#e74c3c;
    bottom:50%;
    left:25%;

}
#community-bubble span {
    position:absolute;
    top:41%;
    left:9%;
}
/* investor bubble */
#investor-bubble {
    width: 6rem;
    height: 6rem;
    color: #FFF;
    background-color:#f7941d;
    bottom:60%;
    left:-20%;

}
#investor-bubble span {
    position:absolute;
    top:37%;
    left:6%;
}
/* learner bubble */
#learner-bubble {
    width: 5rem;
    height: 5rem;
    color: #FFF;
    background-color:#4466c9;
    bottom:60%;
    right:-2%;

}
#learner-bubble span {
    position:absolute;
    top:39%;
    left:12%;
    font-size:0.9vw;
}
/* void bubble */
#void-bubble {
    width: 2rem;
    height: 2rem;
    color: #FFF;
    background-color:#4466c9;
    bottom:85%;
    right:36%;
    font-size:0.8vw;

}
#void-bubble span {
    position:absolute;
    top:39%;
    left:12%;
}