

    <div class="col-12 mh-100 p-0" id="footer-container">
        <div class="container-fluid">
            <div class="row">
                <!-- Start logo-footer -->
                <div class="col-2" id="logo-footer-content" align="center">
                    <span id="logo-footer" >Coderbunker</span> <br>
                    <a href="mailto:contact@coderbunker.com" style="display:inline-block;text-decoration:none;background-color:#FF5658;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;font-weight:bold;">Contact us!</a>
                </div>
                <!-- End logo-footer -->
                    <div class="col-7 mx-auto">
                        <div class="row">
                            <div class="col-4" id="shanghai-franchise">
                                <h5 class="text-left franchise-city" id="shanghai-franchise-title">Shanghai</h5>
                                <p class="franchise-text">Building 8, Basement, Panyu Road 1199</p>
                                <p class="franchise-text">200031 Shanghai, China</p>
                                <p class="franchise-text">+86 (21) 6054 8081</p>
                                <p><a href="mailto:cn@coderbunker.com">cn@coderbunker.com</a></p>
                                <p><a href="http://www.agora-space.com/">Agora-Space/a></p>
                            </div>
                            <div class="col-4" id="singapore-franchise">
                                <h5 class="text-left franchise-city" id="singapore-franchise-title">Singapore</h5>
                                <p class="franchise-text">344B King George's Avenue</p>
                                <p class="franchise-text">208576 Singapore  </p>
                                <p><a href="mailto:sg@coderbunker.com">sg@coderbunker.com</a></p>
                                <p><a href="https://hackerspace.sg/">Hackerspace</a></p>
                            </div>
                            <div class="col-4" id="birmingham-franchise">
                                <h5 class="text-left franchise-city" id="birmingham-franchise-title">Birmingham</h5>
                                <p class="franchise-text">50 Stratford Road, Shipston-on-Stour</p>
                                <p class="franchise-text">CV36 4BA Warwickshire, Birmingham, UK</p>
                                <p><a href="mailto:uk@coderbunker.com">uk@coderbunker.com</a></p>
                                <p><a href="http://meltingpot.space/">Meltingpot/a></p>
                            </div>
                        </div>
                    </div>
                    <!-- End franchises section -->
                    <!-- Start social-icons -->
                    <div class="col-3 float-right" id="footer-social-icons">
                        <nav class="navbar navbar-expand-sm mx-auto">
                            <ul class="navbar-nav mx-auto" id="footer-social-icons-container">
                                <li class="nav-item list-inline-item pr-1">
                                    <a href="https://github.com/coderbunker" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                                </li>
                                <li class="nav-item list-inline-item pr-1">
                                   <i class="fab fa-weixin"><span class="wechat-account" id="footer-wechat-account" style="display:none;">coderbunker</span></i>
                                </li>
                                <li class="nav-item list-inline-item pr-1">
                                   <a href="https://www.facebook.com/coderbunker" target="_blank" rel="noopener noreferrer"> <i class="fab fa-facebook-f"></a></i>
                                </li>
                                <li class="nav-item list-inline-item pr-1">
                                    <a href="https://www.linkedin.com/company/coderbunker/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                                </li>
                                <li class="nav-item list-inline-item pr-1">
                                    <a href="https://medium.com/coderbunker" target="_blank" rel="noopener noreferrer"><i class="fab fa-medium"></i></a>
                                </li>
                                <li class="nav-item list-inline-item pr-1">
                                    <a href="https://www.meetup.com/coderbunker/" target="_blank" rel="noopener noreferrer"><i class="fab fa-meetup"></i></a>
                                </li>
                            </ul>
                        </nav>
                        <p class="text-center">Follow us on WeChat</p>
                        <img id="qrcode" class="d-block mx-auto wow bounceInUp" src="/images/qrcode/coderbunker_wechat/qrcode.jpg"/>
                    </div>
                <!-- End social-icons -->
            </div>
        </div>
        <hr>
        <div class="col-12" id="copyright">
            <p class="text-right">2019 All rights reserved. Coderbunker Website</p>
        </div>
        <div class="col-12" id="go-to-top-container">
            <img id="go-to-top" class="float-right" alt="up button" src="/images/icons/button-up.jpg"/>
        </div>
    </div>
    <script type="text/javascript">
        var clicks = 0;
        $(".navbar-toggler").click(function() {
            clicks+= 1;
            if(isOdd(clicks)) 
            {
                $("#header-social-icons-container").css("display","none");
                $("#top-menu").attr("id","top-menu-clicked");
                $("#top-menu-clicked").removeClass("col-8");
                $("#top-menu-clicked").addClass("col-12");
                $("#navbarCollapse").addClass("navCollapseAfter");

            } else { 
                $("#header-social-icons-container").css("display","block");
                $("#top-menu-clicked").attr("id","top-menu");
                $("#top-menu").addClass("col-8");
                $("#top-menu").removeClass("col-12");
                $("#navbarCollapse").removeClass("navCollapseAfter");

            }
        });
        function isOdd(n) {
            if(Math.abs(n % 2) == 1) {
                console.log(true);
                return true;
            } else {
                return false;
            }
        }
    </script>
    <script type="text/javascript">
        $(".fa-weixin").click(function(event) {
            var elementId = (this).id;
            console.log(elementId); 
        $("#header-wechat-account").css({display: 'inline-block'})
        }); 
        $(".fa-weixin").click(function(event) {
            var elementId = (this).id;
            console.log(elementId);
            // $("#footer-wechat-account").css({display: 'inline-block'})
        });
    </script>
  <script>
        var swiper = new Swiper('.swiper-container', {
            autoHeight: true, //enable auto height
            spaceBetween: 0,

          /*pagination: {
            el: '.swiper-pagination',
            type: 'progressbar',
          }, */
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        });
      </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133578355-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-133578355-1');
    </script>
