<html lang="en">
<head>
    <meta charset="utf-8">
    <title> page.title</title>  
    <link rel="stylesheet" href="/css/swiper.min.css">
    
    <script src="/js/swiper.min.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- JS -->
    <script type="text/javascript" src="/js/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" integrity="sha384-fJU6sGmyn07b+uD1nMk7/iSb4yvaowcueiQhfVgQuD98rfva8mcr1eSvjchfpMrH" crossorigin="anonymous"></script><script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha384-YWP9O4NjmcGo4oEJFXvvYSEzuHIvey+LbXkBNJ1Kd0yfugEZN9NCQNpRYBVC1RvA" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link http-equiv="Content-Type" content="text/html;charset=UTF-8" href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Animate CSS-->
    <link http-equiv="Content-Type" content="text/html;charset=UTF-8" rel="stylesheet" href="/css/animate.css">
    <!-- css and fonts-->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link http-equiv="Content-Type" content="text/html;charset=UTF-8" href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link http-equiv="Content-Type" content="text/html;charset=UTF-8" href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/qpj4ugj.css" integrity="sha384-Ty/99WUHYq9Jc7Hvn1AuHmKI+C4AQE2Cbm4jY9kTsnDX3PdnXurTgegpu5qaQAUM" crossorigin="anonymous"> <!-- Montserrat font (bold, semiBold, Regular)-->
    <link http-equiv="Content-Type" content="text/html;charset=UTF-8" href="/css/main.css" rel="stylesheet">
</head>
<body>
