<div class="container-fluid" >
        <div class="row" id="section-header-container">   
            <div class="col-8" id="top-menu">
                    <nav class="navbar navbar-expand-md navbar-toggler-md navbar-no-bg" role="navigation">
                            <a href="/"class="navbar-brand"><img alt="logo Coderbunker" src="/../logo.png" /> Coderbunker</a>
                            <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-toggle="collapse" data-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarCollapse">
                                <!-- Not being used for now -->
                                <ul class="navbar-nav ml-auto" id="sectionNav">
                                    <li class="nav-item">
                                        <a id="community" class="nav-link scroll-link" href="/services">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="community" class="nav-link scroll-link" href="/projects">Projects</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="work" class="nav-link scroll-link" href="/become-a-developer">Become a developer</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="events" class="nav-link scroll-link" href="/workshops">Workshops</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="about" class="nav-link scroll-link" href="/about">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="blog" class="nav-link scroll-link" href="/blog">Blog</a>
                                    </li>
                                </ul>
                            </div>
                    </nav>
           <!--        <a href="https://s2.photobucket.com/user/OsmodiarX/media/webimgs/logo.png.html" target="_blank"><img src="https://i2.photobucket.com/albums/y45/OsmodiarX/webimgs/logo.png" border="0" alt=" photo logo.png"/></a>
           --> 
            </div>
            <div class="col-4 navbar-expand-sm" id="header-social-icons-container">
                <nav class="navbar navbar-expand-sm mx-auto" id="header-social-icons">
                    <ul class="navbar-nav mx-auto" id="footer-social-icons-container">
                        <li class="nav-item list-inline-item pr-1">
                            <a href="https://github.com/coderbunker" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="nav-item list-inline-item pr-1">
                            <i class="fab fa-weixin"><span class="wechat-account" id="header-wechat-account" style="display:none;">WeChat ID: coderbunker</span></i>
                        </li>
                        <li class="nav-item list-inline-item pr-1">
                            <a href="https://www.facebook.com/coderbunker" target="_blank" rel="noopener noreferrer"> <i class="fab fa-facebook-f"></a></i>
                        </li>
                        <li class="nav-item list-inline-item pr-1">
                            <a href="https://www.linkedin.com/company/coderbunker/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li class="nav-item list-inline-item pr-1">
                            <a href="https://medium.com/coderbunker" target="_blank" rel="noopener noreferrer"><i class="fab fa-medium"></i></a>
                        </li>
                        <li class="nav-item list-inline-item pr-1">
                            <a href="https://www.meetup.com/coderbunker/" target="_blank" rel="noopener noreferrer"><i class="fab fa-meetup"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>